@font-face {
	font-family: 'd';
	src: url('http://ninjacam.com/d/dr.eot');
  src: local('DINPro-Regular'), url('http://ninjacam.com/d/dr.woff') format('woff'), url('http://ninjacam.com/d/dr.otf') format('opentype'), url('http://ninjacam.com/d/dr.svg#DINPro-Regular') format('svg');
	font-weight:normal;
}

@font-face {
	font-family: 'd';
	src: url('http://ninjacam.com/d/db.eot');
	src: local('DINPro-Bold'), url('http://ninjacam.com/d/db.woff') format('woff'), url('http://ninjacam.com/d/db.otf') format('opentype'), url('http://ninjacam.com/d/db.svg#DINPro-Bold') format('svg');
	font-weight:bold;
}

html, body { 
  font-family: "d", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color:#ccc;
  font-size:16px;
  background-color:#111;
  background-image: url('http://ninjacam.com/images/bg.png');
}

p {
  font-size:90%;
  line-height:1.4em;
  word-wrap:break-word;  
  text-shadow: black 1px 1px 2px;
}

a, #datetime a {
  color:#00A5FF !important;
  text-decoration:none;
  background:none;
}
  a:hover {
    color:#00A5FF;
    text-decoration:underline;
    background:none;    
  }
  
  
h1 {
  margin-top:20px;
  padding-bottom:20px;
  border-bottom:1px solid black;
  -webkit-box-shadow: 0 1px 0 #404040;
  -moz-box-shadow: #404040 0 1px 0;
  width:502px;
}
h1, h1 a {
  color:white !important;
  font-size:80px;
  text-shadow: 1px 1px 5px black;  
  text-transform:uppercase;
  font-weight:bold;
  line-height:0.7em;
}
  h1:hover, h1 a:hover {
    text-decoration:none;
  }
  
  h1 .the-very-best {
/*    font-weight:normal;*/
    font-size:30px;
    text-shadow: 1px 1px 3px black;
    
/*    display: block;
    font-size: 20px;
    line-height: 1em;
    text-align: center;
    text-shadow: black 1px 1px 3px;
    width: 79px;
    height:67px;
    background-color:#F72F3C;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF525D), to(#AA272F));
    background: -moz-linear-gradient(19% 75% 90deg, #AA272F, #FF525D);
    padding:20px 8px 8px 8px;
    -webkit-border-radius: 95px;*/

/*  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  color:#191919;*/
  }
  
  .crap h1 .ninjacam {
    text-indent: -5000px;
    background: url("http://ninjacam.com/images/tumblr_header.png") no-repeat scroll -4px -8px transparent;
    height:62px;
  }
  
  h1 .ninja, h1 .cam {
    background:-webkit-gradient(linear, 0% 44%, 0.9% 69%, from(#FDFDFD), to(#A1A1A1), color-stop(.9,#C9C9C9));
    -webkit-background-clip: text;
    color:transparent;
    -webkit-text-stroke: 1px rgba(255,255,255,0.7);
  }
  
  h1 .ninja {
    margin-right:0.1em;    
    letter-spacing:-1px;    
    -webkit-text-fill-color:rgba(0,0,0,0.3);
    -webkit-text-stroke: 0.5px rgba(255,255,255,0.5);
    -webkit-transition: text-shadow 0.3s ease-in-out;    
  }

  h1:hover .ninja {
    text-shadow: 0 0 100px white;
  }
  
#big-eye {
  width:132px;
  height:129px;
  background: urL('http://ninjacam.com/images/big_eye.png');
  position:absolute;
  top:20px;
  left:-150px;
}
  
  
#collected {
  font-size: 14px;
  line-height: 1em;
  position: absolute;
  right: 17px;
  top: 61px;
  width: 90px;
}
  #collected a {
    margin-left:-2px;
  }
  
img {
  border-left:0 !important;
  border-right:0 !important; 
  border-bottom:0 !important;   
  padding:0 !important;
  background:none !important;
  
  -webkit-border-radius:8px;  
  -moz-border-radius:0;    
  -webkit-box-shadow: 0 2px 7px rgba(0,0,0,0.5);
  -moz-box-shadow: rgba(0,0,0,0.5) 0 2px 7px;    
  border-top:1px solid rgba(255,255,255,0.4);
  
  -webkit-box-shadow: 0 0 1px white, 0 2px 7px rgba(0,0,0,0.5);
  -moz-box-shadow: rgba(255,255,255,0.6) 0 0 1px, rgba(0,0,0,0.5) 0 2px 7px;
}
  .photo a {
    background:none !important;
    cursor:default;
  }
  
.post p {
  font-size:18px;
}
  
.datetime {
  border-right:1px solid black;
  -webkit-box-shadow: 1px 0 0 #404040;
  -moz-box-shadow: #404040 1px 0 0;
}
  
.wrapper {
  position:relative;
}  

#glow {
  width:100%;
  height:100%;  
  position:absolute;
  top:0;
  background: -webkit-gradient(radial, 50% -100, 100, 50% -100, 1200, from(rgba(255,255,255,0.13)), to(rgba(0,0,0,0)));
  background-image: -moz-radial-gradient(top 0deg, circle farthest-side, rgba(255,255,255,0.19) 0%, rgba(0,0,0,0) 120%);
}